&{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing; border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: top;
}
.container{
    padding:10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 240px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
.header-text{
    margin-top: 2%;
    font-size: 35px;
    font-style: bold;
    text-align: center;
}

/* Your existing CSS styles for the header and navigation go here */

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1px; /* Adjust the gap between videos */
    margin: 5px auto 0; /* Center the videos horizontally and adjust the margin at the top */
    max-width: 1200px; /* Limit the maximum width of the video container */
}

.video-box {
    background: #262626; /* Background color for the box */
    padding: 25px; /* Adjust padding as needed */
    border-radius: 10px; /* Rounded corners for the box */
    width: calc(45% - 20px); /* Set the width to half of the container with some spacing */
    margin-bottom: 30px; /* Add spacing between videos */
}

.video-box iframe {
    width: 100%; /* Full width of the video container */
    height: 325px; /* Adjust the height as needed */
}






