&{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing; border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000;
    color: #fff;
}
#header{
    width: 100%;
    height: 60vh;
    background-color: #000;
    background-size: cover;
    background-position: top;
}
.container{
    padding:10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 240px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
.header-text{
    margin-top: 2%;
    font-size: 35px;
    font-style: bold;
    text-align: center;
}

#portfolio {
    padding: 50px 0;
    background-color: #000;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 72%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #b54769);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    text-align: center;  
    font-size: 14px;
    transition: height 0.5s;  
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    
}
.layer a {
    margin-top: 20px;
    color: b54769;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #b54769;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}




